# Tutorial: How to use weirwood pyfinance API

This python API allows you to retrieve financial statements (filings) and daily prices from more than 9000 companies.

In this tutorial you will learn how to use pyfinance python API for:

 - Download financial statements from US companies
 - Download daily stock prices

# Prerequisites: Install pyfinance

The following code block will download pyfinance package in your environment. The only requirement is to have python > 3.X
Once the download finishes remember to reload the kernel

In [2]:
pip install weirwood_pyfinance

Requirement already satisfied: weirwood_pyfinance in /Users/faraday/projects/weirwood/weirwood_pyfinance (0.0.2)
Requirement already satisfied: yfinance in ./venv/lib/python3.9/site-packages (from weirwood_pyfinance) (0.1.64)
Requirement already satisfied: pandas in ./venv/lib/python3.9/site-packages (from weirwood_pyfinance) (1.3.4)
Requirement already satisfied: matplotlib in ./venv/lib/python3.9/site-packages (from weirwood_pyfinance) (3.4.3)
Requirement already satisfied: pillow>=6.2.0 in ./venv/lib/python3.9/site-packages (from matplotlib->weirwood_pyfinance) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./venv/lib/python3.9/site-packages (from matplotlib->weirwood_pyfinance) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in ./venv/lib/python3.9/site-packages (from matplotlib->weirwood_pyfinance) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.9/site-packages (from matplotlib->weirwood_pyfinance) (2.8.2)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.9/site-packages (from matplotlib->weirwood_pyfinance) (0.10.0)
Requirement already satisfied: numpy>=1.16 in ./venv/lib/python3.9/site-packages (from matplotlib->weirwood_pyfinance) (1.21.3)
Requirement already satisfied: pytz>=2017.3 in ./venv/lib/python3.9/site-packages (from pandas->weirwood_pyfinance) (2021.3)
Requirement already satisfied: lxml>=4.5.1 in ./venv/lib/python3.9/site-packages (from yfinance->weirwood_pyfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in ./venv/lib/python3.9/site-packages (from yfinance->weirwood_pyfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in ./venv/lib/python3.9/site-packages (from yfinance->weirwood_pyfinance) (2.26.0)
Requirement already satisfied: six in ./venv/lib/python3.9/site-packages (from cycler>=0.10->matplotlib->weirwood_pyfinance) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./venv/lib/python3.9/site-packages (from requests>=2.20->yfinance->weirwood_pyfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./venv/lib/python3.9/site-packages (from requests>=2.20->yfinance->weirwood_pyfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python3.9/site-packages (from requests>=2.20->yfinance->weirwood_pyfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.9/site-packages (from requests>=2.20->yfinance->weirwood_pyfinance) (3.3)
Note: you may need to restart the kernel to use updated packages.

# Import FinTen

In order to use pyfinance API you will need to connect to Finten Backend. The following line will show you how to instantiate Finten without login required

In [3]:
from weirwood_pyfinance import FinTen
finten = FinTen()

# Get filings

With _get_filings('COMPANY_TICKER')_ you can download any of the available public companies financial statements as we show in the following chunk.

In [5]:
tesla_filings = finten.get_filings('TSLA')
tesla_filings.head()

,DocumentType,EntityRegistrantName,CurrentFiscalYearEndDate,EntityCentralIndexKey,EntityFilerCategory,TradingSymbol,DocumentPeriodEndDate,DocumentFiscalYearFocus,DocumentFiscalPeriodFocus,Assets,...,GrossProfit,OperatingExpenses,NetCashFlow,NetCashFlowsOperating,NetCashFlowsInvesting,NetCashFlowsFinancing,StandardIndustrialClassification,StateCountry,Office,IndustryTitle
0,10-Q,"Tesla, Inc.",--12-31,1318605,Non-accelerated Filer,TSLA,2011-06-30,2011,Q2,646155000,...,18508000,77247000,319380000,NaN,NaN,NaN,3711,CA,Office of Manufacturing,MOTOR VEHICLES & PASSENGER CAR BODIES
1,10-Q,"Tesla, Inc.",--12-31,1318605,Non-accelerated Filer,TSLA,2011-09-30,2011,Q3,700250000,...,17224000,81701000,213328000,NaN,NaN,NaN,3711,CA,Office of Manufacturing,MOTOR VEHICLES & PASSENGER CAR BODIES
2,10-K,"Tesla, Inc.",--12-31,1318605,Large Accelerated Filer,TSLA,2011-12-31,2011,FY,713448000,...,61595000,313083000,155708000,-114364000.0,-175928000.0,446000000.0,3711,CA,Office of Manufacturing,MOTOR VEHICLES & PASSENGER CAR BODIES
3,10-Q,"Tesla, Inc.",--12-31,1318605,Large Accelerated Filer,TSLA,2012-03-31,2012,Q1,761100000,...,10210000,98973000,-36696000,-50087000.0,-79440000.0,92831000.0,3711,CA,Office of Manufacturing,MOTOR VEHICLES & PASSENGER CAR BODIES
4,10-Q,"Tesla, Inc.",--12-31,1318605,Large Accelerated Filer,TSLA,2012-06-30,2012,Q2,776869000,...,4762000,110937000,210554000,NaN,NaN,NaN,3711,CA,Office of Manufacturing,MOTOR VEHICLES & PASSENGER CAR BODIES

The returning object is a pandas dataframe which columns contain numerical information about the company and metadata, such as the release date of the filing, the type of filing, the industry which the company belongs to... For the numerical values it returns variables such as Assets, Liabilities, Equity.. and other relevant financial information about the compamny requested

In [6]:
tesla_filings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   DocumentType                      39 non-null     object
 1   EntityRegistrantName              39 non-null     object
 2   CurrentFiscalYearEndDate          39 non-null     object
 3   EntityCentralIndexKey             39 non-null     int64
 4   EntityFilerCategory               39 non-null     object
 5   TradingSymbol                     39 non-null     object
 6   DocumentPeriodEndDate             39 non-null     object
 7   DocumentFiscalYearFocus           39 non-null     object
 8   DocumentFiscalPeriodFocus         39 non-null     object
 9   Assets                            39 non-null     int64
 10  CurrentAssets                     39 non-null     int64
 11  NoncurrentAssets                  39 non-null     int64
 12  LiabilitiesAndEquity              39 non-null     int64
 13  Liabilities                       39 non-null     int64
 14  CurrentLiabilities                39 non-null     int64
 15  NoncurrentLiabilities             39 non-null     int64
 16  Equity                            39 non-null     int64
 17  Revenues                          39 non-null     int64
 18  CostOfRevenue                     39 non-null     int64
 19  GrossProfit                       39 non-null     int64
 20  OperatingExpenses                 39 non-null     int64
 21  NetCashFlow                       39 non-null     int64
 22  NetCashFlowsOperating             11 non-null     float64
 23  NetCashFlowsInvesting             11 non-null     float64
 24  NetCashFlowsFinancing             11 non-null     float64
 25  StandardIndustrialClassification  39 non-null     int64
 26  StateCountry                      39 non-null     object
 27  Office                            39 non-null     object
 28  IndustryTitle                     39 non-null     object
dtypes: float64(3), int64(15), object(11)
memory usage: 9.0+ KB

# Available companies

Using _.get_tickers()_ we can get a list of available companies

In [6]:
all_available_tickers = finten.get_tickers()
all_available_tickers

         0
0        A
1       AA
2     AAAU
3     AACG
4     AACH
...    ...
9429  ZYNE
9430  ZYQG
9431  ZYRX
9432  ZYXI
9433  ZZLL

[9434 rows x 1 columns]


# Get prices
Finally, we can also download daily prices using _.get_prices('COMPANY_TICKER')_ public method. The return type is also a pandas dataframe with the daily stock market price of the company.

In [7]:
tesla_prices = finten.get_prices('TSLA')
tesla_prices.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-19,877.530029,877.950012,862.510010,864.270020,864.270020,17381100
2021-10-20,865.349976,869.489990,857.380005,865.799988,865.799988,14032100
2021-10-21,856.000000,900.000000,855.500000,894.000000,894.000000,31481500
2021-10-22,895.500000,910.000000,890.960022,909.679993,909.679993,22836800
2021-10-25,950.530029,998.909973,944.200012,997.945496,997.945496,38817856